.App {
  background-color: #282c34;
  font-size: calc(5px + 2vmin);
  color: white;
  min-height: 100vh;
  padding: 0 15px;
  text-align: center;
}

.App-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  border-bottom: solid 1px #a9aaac;
}

.logo {
  width: 50px;
  height: 50px;
}

.App-link {
  color: #61dafb;
}

.section-title{
  color: rgba(255, 255, 255, 0.877);
  font-size: calc(18px + 1vmin);

}

.repos-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.empty {
  height: 25vh ;
  background-color: #484b52ab ;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: calc(10px + 1vmin);
  margin-bottom: 30px;
}

.footer {
  position: relative;
  text-align: center;
  bottom: 0px;
  padding: 10px 0;
  border-top: solid 1px #a9aaac;
}
